/* =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================
*/
html,
body {
  margin: 0 auto;
  height: 100%;
  width: 80%;
  background: lightgrey;
  vertical-align: middle;
}

/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}

.jest-lite-report__errors {
  display: none;
}

.c-site-header {
  float: left;
}

.subheader {
  font-size: 16px;
}

.page-navigation {
  float: right;
  margin-right: 10%;
}

li {
  margin-left: 15px;
  float: left;
  list-style: none;
  
}
.comment {
  margin-left: 10px;
  border: 5px outset rgb(49, 42, 42);
  background-color: lightblue;
  text-align: center;

}

.about {
  clear: both;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin-right: 10px;
  width: 400px;
  height: 500px;
}

.about-image {
  float: left;
}

.c-site-footer {
  clear: left;
}


